/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.gridContainer {
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 30px;
}

h1 {
  background: rgba(225, 200, 255, 0.849);
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
	color: gold;
	text-decoration: none;
  transition: 0.3s linear;
}

a:hover,
a:focus {
  color: springgreen;
}

.container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[type="image"] {
  border-radius: 25%;
  background: rgba(225, 200, 255, 0.849);
  max-width: 256px;
  width: 100%;
}

[type="image"]:hover,
[type="image"]:focus {
  background: rebeccapurple;
}

.footerText {
  background: rebeccapurple;
  color: palegoldenrod;
  margin-top: 25px;
}

.footerText p {
  margin: 0;
}

@media (max-width: 800px) {
  .container {
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 20px;
  }
}

@media (max-width: 450px) {
  .container {
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 10px;
  }
  .footerText {
    font-size: 1.2REM;
  }

  h1 {
    font-size: 2.5REM;
  }
}