.modalParent {
    position:fixed;
    top: 0;
    left: 0;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: inline;
}

.modal-wrapper {
    background: url(./assets/background.jpg);
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 100px auto 0;
    transition: all .8s;
    width: 60%;
}

.modal-header {
    background: rebeccapurple;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
}

.modal-header h3 {
    color: palegoldenrod;
    float: left;
    margin: 0;
    padding: 0;
}

.modal-body {
    padding: 10px 15px;
    text-align: center;
}

.modal-footer {
    background: rebeccapurple;
    height: 35px;
    padding: 15px;
}

.close-modal-btn {
    color: red;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.close-modal-btn:hover {
    transform: scale(1.5);
    color: white;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
    min-width: 25%;
}

.btn-cancel:hover {
    background-color: white;
    color: red;
}

[type="text"] {
    width: 100%;
    margin: 0 0 10px 0;
}

@media (max-width: 450px) {
    .modal-header,
    .modal-body,
    .modal-footer {
        font-size: 1.1REM;
    }
}